@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

#labguide pre,
#labguide code {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

#labguide pre {
    padding: .5rem;
    line-height: 1.25;
    overflow-x: scroll;
}

#labguide a,
#labguide a:visited {
    color: #3498db;
}

#labguide a:hover,
#labguide a:focus,
#labguide a:active {
    color: #2980b9;
}

#labguide .modest-no-decoration {
    text-decoration: none;
}

html {
    font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 48rem) {
    html {
        font-size: 16px;
    }
}

body {
    line-height: 1.85;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: auto;
}

#labguide p,
#labguide .modest-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
    margin-left: 25px;
}

#labguide ul {
    margin-left: 10px;
}

#labguide h1,
#labguide .modest-h1,
#labguide h2,
#labguide .modest-h2,
#labguide h3,
#labguide .modest-h3,
#labguide h4,
#labguide .modest-h4 {
    margin: 1.414rem 0rem;
    font-weight: inherit;
    line-height: 1.42;
}

#labguide h1,
#labguide .modest-h1 {
    margin-top: 2rem;
    line-height: 2.7rem;
    font-size: 2.527rem;
    background-color: #c9d2d9;
    font-weight: bold;
    font-family: 'Tahoma', sans-serif;
    color: #15325a;
    padding: 10px;
}

#labguide h2,
#labguide .modest-h2 {
    font-size: 1.999rem;
    font-weight: bold;
    font-family: 'Tahoma', sans-serif;
    color: #15325a;
    margin-left: 15px;
}

#labguide h3,
#labguide .modest-h3 {
    font-size: 1.4rem;
    background-color: #E0E8ED;
    font-weight: medium;
    font-family: 'Tahoma', sans-serif;
    color: #000000;
    padding: 5px 5px 5px 5px;
    margin-left: 25px;
    position: relative;
}

#labguide h3.plus:before {
    content: '+';
    position: absolute;
    left: -20px;
}

#labguide h3.minus:before {
    content: '-';
    position: absolute;
    left: -20px;
}

#labguide h4,
#labguide .modest-h4 {
    font-size: 1.121rem;
}

#labguide h5,
#labguide .modest-h5 {
    font-size: .88rem;
}

#labguide h6,
#labguide .modest-h6 {
    font-size: .70rem;
}

#labguide small,
#labguide .modest-small {
    font-size: .70rem;
}


/* https://github.com/mrmrs/fluidity */

#labguide img,
#labguide canvas,
#labguide iframe,
#labguide video,
#labguide svg,
#labguide select,
#labguide textarea {
    max-width: 100%;
    padding: 1px;
    --border: 1px solid #021a40;
    margin: .4rem;
    box-shadow: 10px 10px 5px #888888;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:700,700italic);
html {
    font-size: 18px;
    max-width: 100%;
}

#labguide {
    color: #444;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 55rem;
    line-height: 1.45;
    padding: 3.25rem;
    background: #fefefe;
}

#labguide strong {
    font-family: 'Veranda', sans-serif;
    color: #123262;
}

#labguide em {
    color: red;
}

#labguide h1,
#labguide h2,
#labguide h3,
#labguide h4,
#labguide h5,
#labguide h6 {
    font-family: Arimo, Helvetica, sans-serif;
}

#labguide h1,
#labguide h2 {
    margin-bottom: 1.15rem;
    padding-bottom: .5rem;
}

#labguide h3 {
    margin-bottom: .1rem;
    padding-bottom: .1rem;
}

#labguide h1 {
    text-align: left;
    border-bottom: 1px solid #fafafa;
    border-top: 1px solid #fafafa;
    /*    cursor: pointer;*/
}

#labguide h2,
#labguide h3 {
    text-align: left;
}

#labguide h3 {
    cursor: pointer;
}

#labguide blockquote {
    border-left: 8px solid #fafafa;
    padding: 1rem;
}

#labguide pre,
#labguide code {
    background-color: #f3f3f3;
    margin: .4rem;
}

div {}

#introduction {
    width: 90%;
    margin: 5 auto;
    padding-top: 5px;
    font-size: .80rem;
}

@media (max-width: 32rem) {
    #introduction {
        width: 90%;
    }
}

.toc-item {
    margin-top: 10px;
}