<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="labGuide" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="labGuide" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="labGuide" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="labGuide" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Oracle Workshops</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <script src='https://cdn.rawgit.com/showdownjs/showdown/1.6.2/dist/showdown.min.js'></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link type="text/css" rel="stylesheet" href="css/solutionEngTemplate.css">
  <link type="text/css" rel="stylesheet" href="css/workshopIndex.css">


</head>
<body ng-cloak ng-controller="labGuideController">
    <md-toolbar class="md-hue-2 infra" flex="none" layout-padding>
        <div class="md-toolbar-tools infra">
            <md-button class="md-icon-button md-raised md-accent infra" aria-label="Settings" ng-disabled="false" ng-click="toggleLeft()">
                <md-icon class="infra" md-svg-icon="images/menu.svg"></md-icon>
            </md-button>
            <h2 class="infra">
                <span class="infra">{{manifest.workshop.title}}</span>
            </h2>

        </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-left infra" md-component-id="left" md-whiteframe="4">
      <md-toolbar class="md-hue-2 infra">
        <h1 class="md-toolbar-tools infra">Workshop Contents</h1>
      </md-toolbar>
      <md-content>
        <md-list>
<!--
            <md-list-item class="md-3-line toc-item" ng-click="selection.lab = false; close();">
                <div class="md-list-item-text">
                    <h3>Introduction</h3>
                    <p>An overview of this workshop</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
-->
            <md-list-item class="md-3-line toc-item infra" ng-repeat="lab in manifest.workshop.labs" ng-click="getLabGuide(lab); close();">
                <div class="md-list-item-text infra">
                    <h3 class="infra">{{lab.title}}</h3>
                    <p class="infra">{{lab.description}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>


        </md-list>
        <md-button ng-click="close()" class="md-primary infra">
          Close Menu
        </md-button>
      </md-content>

    </md-sidenav>
<!--
    <div id='introduction' ng-show='!selection.lab' layout="column" layout-margin layout-padding layout-align="start center">
        <p ng-bind-html='manifest.workshop.description'></p>

        <p>Open the navigation menu using the hamburger icon (<md-icon md-svg-icon="images/menu.svg"></md-icon>) in the menu bar to choose a lab guide and get started, or click the menu button below.</p>
        <div layout="row">
            <md-button ng-click="toggleLeft()" class="md-accent md-raised">
                Menu
            </md-button>
            <md-button ng-click="getLabGuide(manifest.workshop.labs[0])" class="md-accent md-raised" ng-if="false">
                Lab {{manifest.workshop.labs[0].number}}
            </md-button>
        </div>
    </div>
-->
    <div id='labguide' ng-bind-html='htmlContent' ng-show='selection.lab'>
        <!--   content filled dynamically     -->
    </div>
    <div id='returnToTop' layout layout-align="center center">
        <a href="#" layout-margin layout-padding>^ Return to Top</a>
    </div>
    
    
<script type="text/javascript">
    angular.module('labGuide', ['ngMaterial', 'ngSanitize'])
    
    .config(function($mdThemingProvider) {
        
    var whiteBackground = $mdThemingProvider.extendPalette('grey', {
        '50': '#fefefe'
      });

      // Register the new color palette map with the name <code>neonRed</code>
      $mdThemingProvider.definePalette('whiteBackground', whiteBackground);

      $mdThemingProvider.theme('default')
          //.dark();
          .primaryPalette('blue')
          .accentPalette('orange')
          .warnPalette('red')
          .backgroundPalette('whiteBackground');
      
    })
    
    .controller('labGuideController', ['$scope', '$http', '$mdSidenav', '$sanitize', 
                                       function($scope, $http, $mdSidenav, $sanitize) {
                                            
        $scope.selection = { "lab": false };
                                           
        $http.get('manifest.json').then(function(res) {
           $scope.manifest = res.data; 
            console.log($scope.manifest);
        }, function(msg) {
            console.log('Error getting manifest.json!');
            console.log(msg);
        });
        
        $scope.getLabGuide = function(lab) {
            if(lab.htmlContent == null) {
                $http.get(lab.filename).then(function(res) {

                    var converter = new showdown.Converter(),
                    text = res.data,
                    html = converter.makeHtml(text);
                    $scope.htmlContent = html;
                    lab.htmlContent = html;
                    $scope.selection.lab = true;
                    setTimeout(function() {
                        $("#labguide h2").next("h3").addClass("first-in-section");
                        $("#labguide h3").nextUntil("#labguide h1, #labguide h2, #labguide h3").hide();
                        $("#labguide h3").addClass('plus');
                        $("#labguide h3").click(function(e) {
                            
                            var fadeOutStep = function(step) {
                                $(step).nextUntil("#labguide h1, #labguide h2, #labguide h3").fadeOut();
                                $(step).addClass('plus');
                                $(step).removeClass('minus');
                            };
                            var fadeInStep = function(step) {
                                $(step).nextUntil("#labguide h1, #labguide h2, #labguide h3").fadeIn();
                                $(step).addClass('minus');
                                $(step).removeClass('plus');
                            };
                            
                            if(e.offsetY < 0) { //user has clicked above the H3, in the expand/collapse all button
                                if($(this).hasClass('first-in-section') && $(this).hasClass('plus')) {
                                  fadeInStep($(this));
                                  $(this).nextUntil("#labguide h1, #labguide h2", "h3").each(function(i, e) { return fadeInStep(e);} );
                                }     
                                else if($(this).hasClass('first-in-section') && $(this).hasClass('minus')) {
                                  fadeOutStep($(this));
                                  $(this).nextUntil("#labguide h1, #labguide h2", "h3").each(function(i, e) { return fadeOutStep(e);} );
                                }
                            }
                            else { //user has clicked in the H3, only work on this step
                                if($(this).hasClass('plus')) {
                                  fadeInStep($(this));
                                } 
                                else if($(this).hasClass('minus')) {
                                  fadeOutStep($(this));
                                } 
                            }
                        });
                        
                    }, 0);

                }, function(msg) {
                    console.log('Error getting lab guide markdown!');
                    console.log(msg);
                });
            }
            else {
                $scope.htmlContent = lab.htmlContent;
                $scope.selection.lab = true;
            }
            setTimeout(function() {
                if(lab.filename === 'README.md') {
                    $("#labguide a").each(function() {
                        if(this.href.endsWith('.md')) {
                            $(this).on("click", function(event) {
                                event.preventDefault();
                                $scope.getLabGuide({filename: this.href});
                            });
                        }
                    })
                }
            }, 500)
            
        }
        $scope.toggleLeft = function() {
            $mdSidenav('left').toggle();
        };
        $scope.close = function() {
            $mdSidenav('left').close();
        };
        
        //upon page load, display README
        $scope.getLabGuide({filename: 'README.md'});
    }]);
    
</script>
</body>
</html>
