<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="labGuide" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="labGuide" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="labGuide" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="labGuide" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Oracle Workshops</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
  <script src='https://cdn.rawgit.com/showdownjs/showdown/1.6.2/dist/showdown.min.js'></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link type="text/css" rel="stylesheet" href="https://oracle.github.io/learning-library/workshops/common-content/css/solutionEngTemplate.css">
  <link type="text/css" rel="stylesheet" href="https://oracle.github.io/learning-library/workshops/common-content/css/workshop.css">
  <link type="text/css" rel="stylesheet" href="https://oracle.github.io/learning-library/workshops/common-content/css/default-theme.css">
  <link type="text/css" rel="stylesheet" href="https://oracle.github.io/learning-library/workshops/common-content/css/touch-the-cloud-theme.css">

<!--    IF MAKING LOCAL CHANGES ONLY
    <link type="text/css" rel="stylesheet" href="./css/solutionEngTemplate.css">
  <link type="text/css" rel="stylesheet" href="./css/workshop.css">
    <link type="text/css" rel="stylesheet" href="./css/default-theme.css">
  <link type="text/css" rel="stylesheet" href="./css/touch-the-cloud-theme.css">
-->

  <link rel="shortcut icon" href="https://oracle.github.io/learning-library/workshops/common-content/fav.ico" />


</head>
<body ng-cloak ng-controller="labGuideController" md-theme="{{theme}}" class="{{theme}}">
    
<!--    TOP TOOLBAR-->
    <md-toolbar class="md-hue-2 infra" flex="none" layout-padding>
        <div class="md-toolbar-tools infra">
            <md-button class="md-icon-button md-raised md-accent infra" aria-label="menu-button" ng-disabled="false" ng-click="toggleLeft()">
                <img src="https://oracle.github.io/learning-library/workshops/common-content/images/common/hamburger.png" class="menu-hamburger infra" /> 
            </md-button>
            <h2 class="infra">
                <span class="infra">{{manifest.workshop.title}}</span>
            </h2>

        </div>
    </md-toolbar>
    
<!--    SIDE NAV MENU-->
    <md-sidenav class="md-sidenav-left infra" md-component-id="left" md-whiteframe="4">
      <md-toolbar class="md-hue-2 infra">
        <h1 class="md-toolbar-tools infra">Workshop Contents</h1>
      </md-toolbar>
      <md-content style="height: 110%;">
        <md-list>
            <md-list-item class="md-3-line toc-item infra" ng-repeat="lab in manifest.workshop.labs" ng-click="getLabGuide(lab); close();">
                <div class="md-list-item-text infra">
                    <h3 class="infra">{{lab.title}}</h3>
                    <p class="infra">{{lab.description}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>


        </md-list>
        <md-button ng-click="close()" class="md-primary infra">
          Close Menu
        </md-button>
      </md-content>
    </md-sidenav>
    
<!--    INTERACTIVE LOADER-->
    <md-button class="md-fab md-fab-top-right" aria-label="Interactive Tour" ng-click="showInteractive()" ng-show="enableInteractive">
        <md-tooltip md-direction="left">Interactive Tour</md-tooltip> <img class="interactive-img infra" style="" src="https://oracle.github.io/learning-library/workshops/common-content/images/common/interactive-logo.png" /> </md-button>
        <div id="interactive-popup" style="visibility: hidden">
        <div class="md-dialog-container" id="interactiveDialog">
            <md-dialog class="fullscreen-dialog" aria-label="Full Screen Dialog Test">
                <md-toolbar class="md-hue-2 infra">
                    <div class="md-toolbar-tools">
                        <h2 class="infra">
                            <span class="infra">Interactive Tour</span>
                        </h2>
                        <span flex></span>

                        <md-button class="md-icon-button" aria-label="Cancel tour" ng-click="cancel()"> 
                            <img src="https://oracle.github.io/learning-library/workshops/common-content/images/common/dialog-close.png" class="md-primary infra" ng-click="closeInteractive()" /> 
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content style="overflow: show;">
                    <div class="interactive-wrapper">
                        <iframe class="infra interactive-frame" type="text/html" ng-src="{{trustSrc(interactive.src)}}" allowfullscreen frameborder="0" scrolling="yes"></iframe>
                    </div>
                </md-dialog-content>
            </md-dialog>
        </div>
    </div>
    
    <div id='labguide' ng-bind-html='htmlContent' ng-show='selection.lab'>
        <!--   content filled dynamically     -->
    </div>
    <div id='returnToTop' layout layout-align="center center">
        <a href="#" layout-margin layout-padding>^ Return to Top</a>
    </div>
    
    <script src='https://oracle.github.io/learning-library/workshops/common-content/js/workshop.js'></script>
    <!--
    <script src='./js/workshop.js'></script>
    -->

</body>
</html>
