#labguide {
    max-width: 55rem; 
    margin: 0 auto; 
    padding: 3.25rem; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-weight: 300;
}

body {
    padding: 0; 
    max-width:100%;
}