
@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }


  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre:not(.infra),
  blockquote:not(.infra) {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr:not(.infra),
  img:not(.infra) {
    page-break-inside: avoid;

  }

  img:not(.infra) {
    max-width: 100% !important;
  }

  p:not(.infra),
  h2:not(.infra),
  h3:not(.infra) {
    orphans: 3;
    widows: 3;
  }

  h2:not(.infra),
  h3:not(.infra) {
    page-break-after: avoid;
  }
}

pre:not(.infra),
code:not(.infra) {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre:not(.infra) {
  padding: .5rem;
  line-height: 1.25;
  overflow-x: scroll;
}

a,
a:visited {
  color: #3498db;
}

a:hover,
a:focus,
a:active {
  color: #2980b9;
}

.modest-no-decoration {
  text-decoration: none;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: 16px;
  }
}


p:not(.infra),
.modest-p:not(.infra) {
  font-size: 1rem;
  margin-bottom: 1.3rem;
  margin-left: 25px;
}

ul:not(.infra) {
    margin-left: 10px;
}

h1:not(.infra),
.modest-h1:not(.infra),
h2:not(.infra),
.modest-h2:not(.infra),
h3:not(.infra),
.modest-h3:not(.infra),
h4:not(.infra),
.modest-h4:not(.infra) {
  margin: 1.414rem 0rem;
  font-weight: inherit;
  line-height: 1.42;
}


h1:not(.infra),
.modest-h1:not(.infra) {
  margin-top: 2rem;
  line-height: 2.7rem;
  font-size: 2.527rem;
  background-color:#c9d2d9;
  font-weight: bold;
  font-family: 'Tahoma', sans-serif;
  color:#15325a;
  padding: 10px;




}

h2:not(.infra),
.modest-h2:not(.infra) {
  font-size: 1.999rem;
  font-weight: bold;
  font-family: 'Tahoma', sans-serif;
  color:#15325a;
  margin-left: 15px;
}

h3.first-in-section {
    margin-top: 50px;
}

h3.first-in-section::after {
    content: '+ Expand All Steps';
    position: absolute;
    top: -45px;
    left: -9px;
    border: 1px solid darkgrey;
/*    border-radius: 25px;*/
    padding: 2px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color:#E0E8ED;
}

h3.first-in-section.minus::after {
    content: '- Collapse All Steps';
}

h3:not(.infra),
.modest-h3:not(.infra) {
  font-size: 1.4rem;
  background-color:#E0E8ED;
  font-weight: medium;
  font-family: 'Tahoma', sans-serif;
  color:#000000;
    padding: 5px 5px 5px 5px;
    margin-left: 25px;
    position: relative;


}

h3.plus:before {
    content: '+';
    position: absolute;
    left: -20px;
}
h3.minus:before {
    content: '-';
    position: absolute;
    left: -20px;
}

h4:not(.infra),
.modest-h4:not(.infra) {
  font-size: 1.121rem;
}

h5:not(.infra),
.modest-h5:not(.infra) {
  font-size: .88rem;
}

h6:not(.infra),
.modest-h6:not(.infra) {
  font-size: .70rem;
}

small:not(.infra),
.modest-small:not(.infra) {
  font-size: .70rem;
}

/* https://github.com/mrmrs/fluidity */

img:not(.infra),
canvas:not(.infra),
iframe:not(.infra),
video:not(.infra),
select:not(.infra),
textarea:not(.infra) {
  max-width: 100%;
  padding:1px;
   --border:1px solid #021a40;
   margin: .4rem;
    box-shadow: 10px 10px 5px #888888;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

@import url(https://fonts.googleapis.com/css?family=Arimo:700,700italic);

html {
  font-size: 18px;
  max-width: 100%;
}

 body {
  color: #444;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  line-height: 1.85;  
  height: auto;
  margin: 0 auto;
  max-width: 55rem;
  line-height: 1.45;
  padding: 3.25rem;
  background:#fefefe;

}

strong:not(.infra) {
     font-family: 'Veranda', sans-serif ;
     color:#123262;
}

em:not(.infra) {

     color:red;
}


h1:not(.infra),
h2:not(.infra),
h3:not(.infra),
h4:not(.infra),
h5:not(.infra),
h6:not(.infra) {
  font-family: Arimo, Helvetica, sans-serif;
}

h1:not(.infra),
h2:not(.infra)
{
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;
}

h3:not(.infra) {
  margin-bottom: .1rem;
  padding-bottom: .1rem;
}

h1:not(.infra) {
    text-align: left;
      border-bottom: 1px solid #fafafa;
      border-top: 1px solid #fafafa;
/*    cursor: pointer;*/
}

h2:not(.infra),
h3:not(.infra) {
    text-align: left;

}

h3:not(.infra) {
    cursor: pointer;
}

blockquote:not(.infra) {
  border-left: 8px solid #fafafa;
  padding: 1rem;
}

pre:not(.infra),
code:not(.infra) {
  background-color: #f3f3f3;
  margin: .4rem;


}

#introduction {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px
}

@media (max-width: 32rem) {
    #introduction {
        width: 90%;
    }

}

.toc-item {
    margin-top:10px;
}
